<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simulador de Memoria</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="Static/images/logoutn.png">
  </head>

  <body>
    <div class="container px-lg-5">

      <!-- encabezado de la pagina -->
      <div class="row mx-lg-n5 mt-5 justify-content-center align-items-center">
        <div class="col pl-0" >
          <h3 style="color:white;">C2G7- Simulador de Planificación de Memoria y Procesos</h3>
          <hr>
        </div>
      </div>

      <div class="row mx-lg-n5 mt-4 align-items-center justify-content-center">
        <div class="col-9 m-0">
          <ul class="nav nav-tabs rounded border-0" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#icondition">Condiciones Iniciales</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">Carga de Trabajo</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" data-toggle="tab" href="#workload">Carga de Proceso</a>
                <a class="dropdown-item" data-toggle="tab" href="#algmn">Algoritmo Multinivel</a>
              </div>
            </li>  
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#result">Resultados</a>
            </li>
          </ul>

          <div class="tab-content border-0 pb-4">
            <!-- pestaña de carga de trabajo -->
            <div id="workload" class="container tab-pane fade"><br>
              <h4 style="color: #17202A">Lista de Procesos</h4>
              <table class="table table-bordered bg-white" id="tabla-procesos"></table>					
              <div class="contenedorMensajes" id="mensajesCargaDeTrabajo">
                <div class="mensajeAviso" id="avisoCargaDeTrabajo"></div>
                <div class="mensajeError" id="errorCargaDeTrabajo"></div>
                <div class="mensajeAlerta" id="alertaCargaDeTrabajo"></div>
              </div>					
              <div class="d-flex">
                <div class="p-2 flex-fill mr-5" id="botonesCargaDeTrabajo">
                  <button type="button" class="btn btn-secondary" id="botonNuevaLista" onclick="nuevaLista()">Nueva Lista</button>
                  <button type="button" class="btn btn-secondary" id="botonCargarLista" onclick="modalCargarProcesos()">Listas Almacenadas</button>
                </div>
              </div>
        
              <!-- modal de continuar sin guardar la lista de procesos -->
              <div class="modal fade" id="modalContinuar" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>Si continúa con ésta operación no se guardará la lista de procesos.</p>
                    </div>
                    <div class="modal-footer">
                      <div class="d-flex align-content-left m-2">
                        <button type="button" class="btn btn-secondary nav-link" data-toggle="tab" data-dismiss="modal" href="#algmn" id="boton6" style="visibility: visible" onclick="obtenerLista()">Continuar</button>
                      </div>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
        
              <!-- modal de guardar lista de procesos -->
              <div class="modal fade" id="guardarLista" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">            
                    <div class="modal-header">
                      <h4 class="modal-title" style="color: #232323">Guardar Lista de Procesos</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="nombList" class="form-control-label">Ingrese el nombre de la lista a guardar:</label>
                        <input type="text" class="form-control" id="nombList" placeholder="Nombre de Lista de Procesos">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary m-3" id="aceptarNombList" data-dismiss="modal" onclick="guardarProcesos(document.getElementById('nombList').value)">Aceptar</button>
                      <button type="button" class="btn btn-secondary m-3" id="cancelarNombList" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- pestaña de condiciones iniciales -->
            <div id="icondition" class="container tab-pane active"><br>
              <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="szmem">Tamaño de la Memoria (KB)</label>
                  <select class="form-control ml-2" id="mp">
                    <option>Selecciona</option>
                    <option value="128">128</option>
                    <option value="256">256</option>
                    <option value="512">512</option>
                    <option value="1024">1024</option>
                    <option value="2048">2048</option>
                  </select>
                </div>
              </form>
              <div class="d-flex align-items-center justify-items-start m-3">
                <label for="rpm">Porcentaje ocupado por el S.O.</label>
                <form class="field-range ml-2">
                  <input class="custom-range ml-3" id="myRange" value="10" type="range" min="10" max="25" />
                </form>
                <label for="rpm" class="ml-4" >Valor: </label>
                <label for="rpm" id="demo"></label>
                <label for="rpm">%</label>
              </div>
              <div class="form-check form-check-inline m-3">
                <input class="form-check-input" type="radio" name="tipoParticiones" id="prtfixed" value="option1" onclick="fixed()">
                <label class="form-check-label" for="prtfixed">Particiones Fijas</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipoParticiones" id="prtvar" value="option2" onclick="variable()">
                <label class="form-check-label" for="prtvar">Particiones Variables</label>
              </div>
              <div class="form-inline">
                <label class="label m-3" style="display:none" id="lalg">Algoritmo: </label>
                <div class="form-check form-check-inline m-3" id="lfrtfit" style="display:none">
                  <input class="form-check-input" type="radio" name="algoritmo" id="frtfit" value="option1" >
                  <label class="form-check-label" for="frtfit">First Fit</label>
                </div>
                <div class="form-check form-check-inline m-3" id="lwrtfit" style="display:none">
                  <input class="form-check-input" type="radio" name="algoritmo" id="wrtfit" value="option2">
                  <label class="form-check-label" for="wrtfit">Worst Fit</label>
                </div>
                <div class="form-check form-check-inline m-3" id="lbstfit" style="display:none">
                  <input class="form-check-input" type="radio" name="algoritmo" id="bstfit" value="option2">
                  <label class="form-check-label" for="bstfit">Best Fit</label>
                </div>
              </div>
              <div class="form-inline">
                <button type="button" class="btn btn-secondary ml-3" data-toggle="modal" data-target="#addprt" id="boton1">Agregar varias particiones iguales</button>
                <button type="button" class="btn btn-secondary ml-3" id="boton2" onclick="setVisible()">Agregar particiones manualmente</button>
                <button type="button" class="btn btn-secondary ml-3" id="boton3" onclick="modalCargarParticiones()">Cargar desde DB</button>
              </div>        
              <div id="div-particiones" class="d-flex align-items-center mt-4" style="visibility: collapse">
                <table class="table table-bordered bg-white" id="tabla-particiones">
                  <thead class="text-white">
                    <tr>
                      <th>Id</th>
                      <th>Direccion de Inicio</th>
                      <th>Direccion de Fin</th>
                      <th>Tamaño</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>#</td>
                      <td>#</td>
                      <td>#</td>
                      <td>
                        <input type="text" class="form-control" id='tamano1' placeholder="Ingrese tamaño">
                      </td>                                        
                    </tr>                                    
                  </tbody>
                  <tfoot id="boton4" style="visibility: hidden">
                    <td>
                      <button type="button" class="btn btn-outline-dark" onclick="cargarParticionesVbles()">
                      <i class="material-icons md-light align-middle" id="add">add</i></button>
                    </td>
                  </tfoot>
                </table>
              </div>
              <button type="button" class="btn btn-secondary" id="boton5" style="visibility: collapse" onclick="$('#guardarParticiones').modal()">Guardar en DB</button>
              <div class="contenedorMensajes" id="mensajesCondicionesIniciales">
                <div class="mensajeAviso" id="avisoCondicionesIniciales"></div>
                <div class="mensajeError" id="errorCondicionesIniciales"></div>
              </div>
              <div class="d-flex align-content-left m-2">
                <button type="button" class="btn btn-secondary nav-link" data-toggle="tab" href="#workload" id="boton6" style="visibility: visible" onclick="prueba2()">Siguiente</button>
              </div>

              <!-- modal de guardar particiones -->
              <div class="modal fade" id="guardarParticiones" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">            
                    <div class="modal-header">
                      <h4 class="modal-title" style="color: #232323">Guardar Condiciones Iniciales</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="nombreParticiones" class="form-control-label">Ingrese el nombre de la lista a guardar:</label>
                        <input type="text" class="form-control" id="nombreParticiones" placeholder="Nombre de Lista de Particiones">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary m-3" id="aceptarNombreParticiones" data-dismiss="modal" onclick="guardarParticiones(document.getElementById('nombreParticiones').value)">Aceptar</button>
                      <button type="button" class="btn btn-secondary m-3" id="cancelarNombreParticiones" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- pestaña de resultados -->
            <div id="result" class="container tab-pane fade"><br>
              <div class="form-inline m-3" >
                <label for="time">Duracion de cada Batido del Reloj</label>
                <input type="text" class="form-control ml-3" id="time" placeholder="Tiempo en segundos">
              </div>
              <div class="row d-inline-flex ml-5 justify-content-center rounded" id="grafica" style="visibility: hidden;">
                <div class="col align-self-center">
                  <p>Memoria: </p>
                  <div class="d-flex flex-column m-2 text-dark">
                    <div class="p-2 bg-white">Flex item 1</div>
                    <div class="p-2 bg-warning">Flex item 2</div>
                    <div class="p-2 bg-primary">Flex item 3</div>
                    <div class="p-2 bg-white">Flex item 1</div>
                    <div class="p-2 bg-warning">Flex item 2</div>
                  </div>
                </div>
                <div class="col align-self-start">
                  <div class="d-flex align-content-center justify-content-center">
                    <p class="mt-3">En t vigente:</p>
                    <p class="mt-3"></p>
                  </div>
                  <div class="col align-content-center justify-content-center">
                    <p>CPU: </p>
                    <div class="d-flex align-content-center justify-content-center bg-white">
                      <p class="text-dark text-center">2</p>
                    </div>
                  </div>
                  <div class="col align-content-center justify-content-center">
                    <p class="mt-3">Entrada: </p>
                    <div class="d-flex align-content-center justify-content-center bg-white">
                      <p class="text-dark text-center">5</p>
                    </div>
                  </div>
                  <div class="col align-content-center justify-content-center">
                    <p class="mt-3">Salida: </p>
                    <div class="d-flex align-content-center justify-content-center bg-white">
                      <p class="text-dark text-center">libre</p>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center">
                  <p>Entrada: </p>
                  <div class="d-flex flex-nowrap bg-secondary mb-3 text-dark" id="input">
                    <div class="p-2 bg-white">Flex item 1</div>
                    <div class="p-2 bg-warning">Flex item 2</div>
                    <div class="p-2 bg-primary">Flex item 3</div>
                  </div>
                  <p>CPU: </p>
                  <div class="d-flex flex-nowrap bg-secondary mb-3 text-dark">
                    <div class="p-2 bg-white">Flex item 1</div>
                    <div class="p-2 bg-warning">Flex item 2</div>
                    <div class="p-2 bg-primary">Flex item 3</div>
                  </div>
                  <p>Salidas: </p>
                  <div class="d-flex flex-nowrap bg-secondary mb-3 text-dark">
                    <div class="p-2 bg-white">Flex item 1</div>
                    <div class="p-2 bg-warning">Flex item 2</div>
                    <div class="p-2 bg-primary">Flex item 3</div>
                  </div>
                </div>
              </div>
              <div style="margin-bottom: 50px;">
                <h1>Cola de CPU</h1>
                <div class="progress" id="cola_cpu"> 
                  
                </div>
              </div>

              <div>
                  <h1>Cola de E/S</h1>
                  <div class="progress" id="cola_es"> 
                  </div>
                </div>
              <div class="form-check form-check-inline m-3">
                <label class="form-check-label" for="mnprocess">Avanzar Manualmente</label>
                <input class="form-check-input ml-2" type="radio" name="inlineRadioOptions" id="mnprocess" value="option2">
              </div>
              <div class="d-flex align-content-left m-2">
                <button type="button" class="btn btn-secondary nav-link" data-toggle="tab" href="#" id="boton6" style="visibility: visible" onclick="FCFS()">Siguiente</button>    
              </div> 
            </div>

            <!-- pestaña de colas multinivel -->
            <div id="algmn" class="container tab-pane fade"><br>
              <h4>Colas de Cpu</h4>
              <table class="table table-bordered bg-white" id="tabla-colas">
                <thead class="text-white">
                  <tr>
                    <th scope="col">Cola</th>
                    <th scope="col">Algoritmo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                      <div class="form-group">
                        <select class="form-control" id="typealgm">
                          <option value="FCFS">FCFS</option>
                          <option value="SJF">SJF</option>
                          <option value="SRTF">SRTF</option>
                          <option value="Round Robin">Round Robin</option>
                          <option value="Por Prioridad">Por Prioridad</option>
                        </select>
                      </div>
                    </td>
                </tbody>
              </table>
              <div class="contenedorMensajes" id="mensajesColasMultinivel">
                <div class="mensajeAviso" id="avisoColasMultinivel"></div>
                <div class="mensajeError" id="errorColasMultinivel"></div>
              </div>
              <div class="d-flex">
                <div class="p-2 flex-fill mr-5">
                  <button type="button" class="btn btn-secondary" onclick="agregarCola()">Agregar</button>
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#todbcolas">Guardar en DB</button>
                  <button type="button" class="btn btn-secondary" onclick="modalCargarColas()">Cargar desde DB</button>
                  <button type="button" class="btn btn-secondary" onclick="continuarColas()">Siguiente</button>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>

    <!-- modal para cargar varias particiones fijas de igual tamaño -->
    <div class="modal fade" id="addprt">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">            
          <div class="modal-header">
            <h4 class="modal-title">Agregar Particiones Fijas</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>              
          <div class="modal-body">
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="szmem">Cantidad de Particiones</label>
                <input type="number" class="form-control" id="cantpart" value="1" min="1" max="100" step="1"/>                  
              </div>
            </form>
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="szmem">Tamaño (KB)</label>
                <input type="number" class="form-control" id="tamanopart" value="1" min="1" max="2048" step="1"/>
              </div>
            </form>
          </div>              
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-5" onclick="cargarParticionesFijas()">Aceptar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>              
        </div>
      </div>
    </div>

    <!-- modal para cargar procesos desde base de datos -->
    <div class="modal fade" id="fromdblistproc">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">            
          <div class="modal-header">
            <h4 class="modal-title" style="color: #232323">Listas de Procesos Almacenadas</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>              
          <div class="modal-body">
            <form class="form">
              <div class="form-group mx-sm-3 mb-2">
                <label for="szmem">Seleccione la lista de procesos a cargar:</label>
                <select class="form-control ml-2" id="selectProcesos">
                  <option disabled="true" selected="true">Selecciona</option>
                </select>
              </div>
            </form>
            <button type="button" class="btn btn-secondary m-3" data-dismiss="modal" onclick="cargarProcesos(document.getElementById('selectProcesos').value)">Aceptar</button>
            <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Cancelar</button>
          </div>                      
        </div>
      </div>
    </div>

    <!-- modal para cargar particiones desde base de datos -->
    <div class="modal fade" id="fromdbprt">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">            
            <div class="modal-header">
              <h4 class="modal-title" style="color: #232323" >Cargar desde Base de Datos</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>              
            <div class="modal-body">
              <form class="form">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="szmem">Nombre de la lista de Particiones</label>
                  <select class="form-control ml-2" id="selectParticiones">
                    <option disabled="true" selected="true">Selecciona</option>
                  </select>
                </div>
              </form>
              <button type="button" class="btn btn-secondary m-3" data-dismiss="modal" onclick="cargarParticiones(document.getElementById('selectParticiones').value)">Aceptar</button>
              <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Cancelar</button>
            </div>                      
          </div>
      </div>
    </div>

    <!-- modal de guardar lista de colas -->
    <div class="modal fade" id="todbcolas" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">            
          <div class="modal-header">
            <h4 class="modal-title" style="color: #232323">Guardar Lista de Colas Multinivel</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nombreColas" class="form-control-label">Ingrese el nombre de la lista a guardar:</label>
              <input type="text" class="form-control" id="nombreColas" placeholder="Nombre de Lista de Colas" maxlength="20">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary m-3" id="aceptarNombList" data-dismiss="modal" onclick="guardarColas(document.getElementById('nombreColas').value)">Aceptar</button>
            <button type="button" class="btn btn-secondary m-3" id="cancelarNombList" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- modal para cargar colas desde base de datos -->
    <div class="modal fade" id="fromdbcolas">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">            
          <div class="modal-header">
            <h4 class="modal-title" style="color: #232323" >Cargar desde Base de Datos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>              
          <div class="modal-body">
            <form class="form">
              <div class="form-group mx-sm-3 mb-2">
                <label for="selectColas">Nombre de la lista de Particiones</label>
                <select class="form-control ml-2" id="selectColas">
                  <option disabled="true" selected="true">Selecciona</option>
                </select>
              </div>
            </form>
            <button type="button" class="btn btn-secondary m-3" data-dismiss="modal" onclick="cargarColas(document.getElementById('selectColas').value)">Aceptar</button>
            <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Cancelar</button>
          </div>                      
        </div>
      </div>
    </div>

    <!-- modal de continuar sin guardar la lista de procesos -->
    <div class="modal fade" id="modalContinuarSinGuardarColas" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <p>No se guardó la lista de colas de CPU. ¿Continuar de todas formas?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="continuarQueNoAndaEnElHTML()">Sí</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
      
    <!-- pie de pagina -->
    <footer id="sticky-footer" class="py-4 text-white-50 sticky-bottom">
      <div class="container ml-0">
        <div class="row align-items-center justify-content-start">
          <div class="col-2">
            <img src="Static/images/utn.png" class="img-fluid rounded float-left" alt="" width="100%" height="160%">
          </div>
          <div class="col-10 text-center">
            <small>Copyright &copy; 2019 - C2G7</small>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!--Esto agregue porq hay cosas que no me andan-->
    <script type="text/javascript" src="Static/main.js"></script>
    <script type="text/javascript" src="Static/condiciones_iniciales.js"></script>
    <script type="text/javascript" src="Static/algoritmos.js"></script>
    <script type="text/javascript" src="Static/base-de-datos.js"></script>
    <script type="text/javascript" src="Static/lista-de-procesos.js"></script>
    <script type="text/javascript" src="Static/colas-multinivel.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>