<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="Static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:500&display=swap" rel="stylesheet">    <title>Simulador de Memoria</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body>
  <div class="container px-lg-5">
    <div class="row mx-lg-n5 mt-5 justify-content-center align-items-center">
      <div class="col pl-0" style="background-color:black">
        <h3 style="color: #CCD1D1;">C2G7- Simulador de Memoria</h3>
        <hr>
      </div>
    </div>
      <div class="row mx-lg-n5 mt-4 align-items-center justify-content-center">
        <div class="col-9 m-0">
          <ul class="nav nav-tabs rounded border-0" role="tablist">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">Carga de Trabajo</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" data-toggle="tab" href="#workload">Carga de Proceso</a>
                  <a class="dropdown-item" data-toggle="tab" href="#algmn">Algoritmo Multinivel</a>
                </div>
            </li>  
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#icondition">Condiciones Iniciales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#result">Resultados</a>
            </li>
          </ul>
              <div class="tab-content border-0 pb-4">
                            <div id="workload" class="container tab-pane active"><br>
                                <h4 style="color: black">Lista de Procesos</h4>
                                <table class="table table-bordered bg-white" id="tabla-procesos">
                                    <thead class="text-white">
                                      <tr>
                                        <th scope="col" id="idProc">Id</th>
                                        <th scope="col" id="tamProc">Tamaño</th>
                                        <th scope="col" id="prioProc">Prioridad</th>
                                        <th scope="col" id="tArrProc">Tiempo de Arribo</th>
                                        <th scope="col" id="cvProc"> Ciclo de Vida</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="tamProc1" placeholder="Tamaño del Proceso">
                                        </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control" id="prioProc1">
                                                  <option>1</option>
                                                  <option>2</option>
                                                  <option>3</option>
                                                </select>
                                              </div>
                                        </td>
                                        <td>
                                          <div class="form-group">
                                              <input type="text" class="form-control" id="tArrProc1" placeholder="Tiempo de Arribo">
                                          </div>
                                      </td>
                                      <td>
                                        <div class="form-group" id="cvp">
                                          <input type="text" class="form-control" id="cvProc1" placeholder="CPU-E-CPU-S-CPU">
                                        </div>
                                      </td>
                                    </tbody>
                                </table>
                                <div class="d-flex">
                                  <div class="p-2 flex-fill mr-5" id="botonesCargaDeTrabajo">
                                      <button type="button" class="btn btn-secondary" id="botonNuevoProceso" onclick="agregarProc()">Nuevo Proceso</button>
                                      <button type="button" class="btn btn-secondary" id="botonGuardarLista" onclick="guardarEnDB()">Guardar Lista</button>
                                      <div align="right"><button type="button" class="btn btn-secondary" id="botonCargarLista" onclick="cargarDesdeDB()">Cargar Lista</button></div>
                                  </div>
                              </div>
                            </div>
        
                            <div id="icondition" class="container tab-pane fade"><br>
                                <form class="form-inline">
                                    <div class="form-group mx-sm-3 mb-2">
                                      <label for="szmem">Tamaño de la Memoria (KB)</label>
                                      <select class="form-control ml-2" id="mp">
                                        <option>Selecciona</option>
                                        <option>128</option>
                                        <option>256</option>
                                        <option>512</option>
                                        <option>1024</option>
                                        <option>2048</option>
                                      </select>
                                    </div>
                                </form>
                                <div class="d-flex align-items-center justify-items-start m-3">
                                    <label for="rpm">Porcentaje ocupada por la S.O.</label>
                                    <form class="field-range ml-2">
                                      <input class="custom-range ml-3" id="myRange" value="10" type="range" min="10" max="25" />
                                    </form>
                                    <label for="rpm" class="ml-4" >Valor: </label>
                                    <label for="rpm" id="demo"></label>
                                    <label for="rpm">%</label>
                                </div>
                                <div class="form-check form-check-inline m-3">
                                    <input class="form-check-input" type="radio" name="tipoParticiones" id="prtfixed" value="option1" onclick="fixed()">
                                    <label class="form-check-label" for="prtfixed">Particiones Fijas</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="tipoParticiones" id="prtvar" value="option2" onclick="variable()">
                                    <label class="form-check-label" for="prtvar">Particiones Variables</label>
                                </div>
                                <div class="form-inline">
                                  <label class="label m-3" style="display:none" id="lalg">Algoritmo: </label>
                                  <div class="form-check form-check-inline m-3" id="lfrtfit" style="display:none">
                                      <input class="form-check-input" type="radio" name="algoritmo" id="frtfit" value="option1" >
                                      <label class="form-check-label" for="frtfit">First Fit</label>
                                  </div>
                                  <div class="form-check form-check-inline m-3" id="lwrtfit" style="display:none">
                                      <input class="form-check-input" type="radio" name="algoritmo" id="wrtfit" value="option2">
                                      <label class="form-check-label" for="wrtfit">Worst Fit</label>
                                  </div>
                                  <div class="form-check form-check-inline m-3" id="lbstfit" style="display:none">
                                      <input class="form-check-input" type="radio" name="algoritmo" id="bstfit" value="option2">
                                      <label class="form-check-label" for="bstfit">Best Fit</label>
                                  </div>
                              </div>
                                <div class="form-inline">
                                  <button type="button" class="btn btn-secondary ml-3" data-toggle="modal" data-target="#addprt" id="boton1">Agregar varias particiones iguales</button>
                                  <button type="button" class="btn btn-secondary ml-3" id="boton2" onclick="setVisible()">Agregar particiones manualmente</button>
                                  <button type="button" class="btn btn-secondary ml-3" id="boton3" data-toggle="modal" data-target="#fromdbprt">Cargar desde DB</button>
                                </div>
        
                                <div id="div-particiones" class="d-flex align-items-center mt-4" style="visibility: collapse">
                                    <table class="table table-bordered bg-white" id="tabla-particiones">
                                        <thead class="text-white">
                                    <tr>
                                        <th>Id</th>
                                        <th>Direccion de Inicio</th>
                                        <th>Direccion de Fin</th>
                                        <th>Tamaño</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#</td>
                                        <td>#</td>
                                        <td>#</td>
                                        <td>
                                          <input type="text" class="form-control" id='tamano1' placeholder="Ingrese tamaño">
                                        </td>                                        
                                    </tr>                                    
                                </tbody>
                                <tfoot id="boton4" style="visibility: hidden">
                                    <td>
                                        <button type="button"  class="btn btn-secondary" onclick="cargarParticionesVbles()">
                                        <i class="material-icons md-light align-middle" id="add">add</i></button>
                                    </td>
                                </tfoot>
                                    </table>
                                </div>                        
                                <button type="button" class="btn btn-secondary" id="boton5" style="visibility: collapse">Guardar en DB</button>
                                <div class="d-flex align-content-left m-2">
                                <button type="button"  class="btn btn-secondary"  id="boton6" style="visibility: visible" onclick="prueba2()">Siguiente</button>
                                </div>
                            </div>
        
                            <div id="result" class="container tab-pane fade"><br>
                                <div class="form-inline m-3">
                                    <label for="time">Duracion de cada Batido del Reloj</label>
                                    <input type="text" class="form-control ml-3" id="time" placeholder="Tiempo en segundos">
                                </div>
                                <div class="form-check form-check-inline m-3">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mnprocess" value="option2">
                                    <label class="form-check-label" for="mnprocess">Avanzar Manualmente</label>
                                </div>
                                <button type="button" class="btn btn-secondary" onclick="prueba()">Siguiente</button>
                                <div id="resultados" style="display:none">
                                  <table class="table table-bordered bg-white" id="tabla-particion">
                                    <tbody>
                                      
                                    </tbody>
                                  </table>
                                </div>
                            </div>
        
                            <div id="algmn" class="container tab-pane fade"><br>
                              <h4>Colas de Cpu</h4>
                              <table class="table table-bordered bg-white">
                                  <thead class="text-white">
                                    <tr>
                                      <th scope="col">Cola</th>
                                      <th scope="col">Algoritmo</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">1</th>
                                      <td>
                                        <div class="form-group">
                                          <select class="form-control" id="typealgm">
                                            <option>FCFS</option>
                                            <option>SJF</option>
                                            <option>Round Robin</option>
                                            <option>Por Prioridad</option>
                                          </select>
                                      </div>
                                      </td>
                                  </tbody>
                              </table>
                              <div class="d-flex">
                                  <div class="p-2 flex-fill mr-5">
                                      <button type="button" class="btn btn-secondary">Agregar</button>
                                      <button type="button" class="btn btn-secondary">Guardar en DB</button>
                                      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#frombd">Cargar desde DB</button>
                                  </div>
                              </div>
                          </div>
              </div>
        </div>
      </div>
    <!-- The Modal -->
    <div class="modal fade" id="addprt">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
              <div class="modal-header">
                <h4 class="modal-title">Agregar Particiones Fijas</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <div class="modal-body">
                  <form class="form-inline">
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="szmem">Cantidad de Particiones</label>
                        <input type="number" id="cantpart" value="1" min="1" max="100" step="1"/>                  
                      </div>
                  </form>
                  <form class="form-inline">
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="szmem">Tamaño (KB)</label>
                        <input type="number" id="tamanopart" value="1" min="1" max="2048" step="1"/>
                      </div>
                  </form>
              </div>
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary mr-5" onclick="cargarParticionesFijas()">Aceptar</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              </div>
              
            </div>
          </div>
    </div>
    <div class="modal fade" id="frombd">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
              <div class="modal-header">
                <h4 class="modal-title" style="color: #232323" >Cargar desde Base de Datos</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <div class="modal-body">
                  <form class="form">
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="szmem">Nombre de la lista de Procesos</label>
                        <select class="form-control ml-2" id="sel1">
                          <option>Selecciona</option>
                        </select>
                      </div>
                  </form>
                  <button type="button" class="btn btn-secondary m-3">Aceptar</button>
                  <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Cancelar</button>
              </div>
                      
            </div>
          </div>
    </div>
        
      <div class="modal fade" id="fromdbprt">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
              <div class="modal-header">
                <h4 class="modal-title" style="color: #232323" >Cargar desde Base de Datos</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <div class="modal-body">
                  <form class="form">
                      <div class="form-group mx-sm-3 mb-2">
                        <label for="szmem">Nombre de la lista de Particiones</label>
                        <select class="form-control ml-2" id="sel1">
                          <option>Selecciona</option>
                        </select>
                      </div>
                  </form>
                  <button type="button" class="btn btn-secondary m-3">Aceptar</button>
                  <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Cancelar</button>
              </div>
                      
            </div>
          </div>
      </div>
 
  </div>

  <footer id="sticky-footer" class="py-4 text-white-50 sticky-bottom">
    <div class="container ml-0">
      <div class="row align-items-center justify-content-start">
        <div class="col-2">
          <img src="Static/images/utn.jpg" class="img-fluid rounded float-left" alt="" width="100%" height="160%">
        </div>
        <div class="col-10 text-center">
          <small>Copyright &copy; 2019 - C2G7</small>
        </div>
      </div>
    </div>
  </footer>
    <script src="Static/main.js"></script>
    <script src="algoritmo.js"></script>
    <script src="base-de-datos.js"></script>
    <script src="lista-de-procesos.js"></script>
    <script src="prueba.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>